<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="false" scanPeriod="30 seconds">
	<property name="logPath" value="logs" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="dalgen" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/dalgen.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/dalgen.log.%d{yyyyMMdd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %c %-5level [%X{LogID}] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="LOGGER" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="dalgen" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="dalgen" />
	</root>
</configuration>
